<!DOCTYPE html><html><head> <title>Kick Punch Creative | Micro Design Agency & Visual Content</title> <meta charset="utf-8"> <meta name="HandheldFriendly" content="True"> <meta name="MobileOptimized" content="320"> <meta name="viewport" content="width=device-width, initial-scale=1.0"/> <meta name="description" content="What can we create for you?"/> <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <meta property="og:locale" content="en_US"/> <meta property='fb:admins' content='1499820013'/> <!-- <meta property="og:type" content="article"/> <meta property="og:title" content="Hello! We're Kick Punch Creative"/> <meta property="og:description" content="What can we create for you?"/> <meta property="og:url" content="hello.kickpunchcreative.com"/> <meta property="og:image" content="http://hello.kickpunchcreative.com/shareablekpc.svg"/> <meta property='og:site_name' content="Hello! We're Kick Punch Creative"/> <meta name="twitter:title" content="Hello! We're Kick Punch Creative"> <meta name="twitter:description" content="What can we create for you?"> <meta name="twitter:image" content="http://hello.kickpunchcreative.com/shareablekpc.svg" -->> <link href="favicon.ico" rel="shortcut icon"> <link rel="stylesheet" href="css/style.css?bedc565v"> <link rel="stylesheet" href="css/animate.css?bedc6a5sdfsdv"> <link href='http://fonts.googleapis.com/css?family=Dosis:400,600,200' rel='stylesheet' type='text/css'> 
  
  <section id="home">
  
    <header>
      <img src="assets/logo.svg" class="logo slideInDown animated center">
      
      <nav>
        <div class="center1">
          <ul>
            <a class="scroll" data-speed="2000" href="#work"> 
              <li>
                work
              </li>
            </a>
            <a class="scroll" data-speed="2000" href="#services"> 
              <li>
                services
              </li>
            </a>
            <a class="scroll" data-speed="2000" href="#work"> 
              <li>
                clients
              </li>
            </a>
      
            <div class="break"> </div>         
            <a class="scroll" data-speed="2000" href="#work"> 
              <li>
                blog
              </li>
            </a>
            <a class="scroll" data-speed="2000" href="#work"> 
              <li>
                contact
              </li>
            </a>
            <a class="scroll" data-speed="2000" href="#work"> 
              <li>
                about
              </li>
            </a>
          </ul>
        </div>
        <img src="assets/twitter.svg" class="twitter">
        <img src="assets/facebook.svg" class="facebook">
      </nav>
    </header>
    
    <section id="part-one">
      <object id="skyline" type="image/svg+xml" data="assets/skyline1.svg" class="skyline center">
      </object>
      <object id="cloud1" type="image/svg+xml" data="assets/cloud.svg" class="animated floatLeft">
      </object>
      <object id="cloud2" type="image/svg+xml" data="assets/cloud2.svg" class="animated float">
      </object>
      <section id="toptext">
        <h1> MICRO CONTENT <br>FOR A <b>BIG WORLD<b> </h1>
          <button class="center margin-top"> see our work </button>

      </section>
      <object id="jeanniebryan" type="image/svg+xml" data="assets/jeanniebryan.svg" class="jeanniebryan center">
      </object>
    </section>
    
  <section id="part-two">
    
    <p class="large"> We tell your brand’s story through exciting visuals and micro content</p>
    <hr> <p>What is micro content you ask? Whether it be an animated infographic, an eye-catching ad, or interactive web experience, micro content is an essential addition to your business’s marketing strategy. Simple, creative and informative content optimized for social media and designed to reduce information overload.
    </p>
</section>

<section id="services" class="clearfix">
  <object id="cube1" type="image/svg+xml" data="assets/cube1.svg" class="floatleft cube">
  </object>
  <object id="cube2" type="image/svg+xml" data="assets/cube1.svg" class="floatleft cube">
  </object>
  <object id="cube3" type="image/svg+xml" data="assets/cube1.svg" class="floatleft cube">
  </object>
  <object id="cube4" type="image/svg+xml" data="assets/cube1.svg" class="floatleft cube">
  </object>
  
  </section>
  
  <section id="contact" class="clearfix">
    <object id="quote1" type="image/svg+xml" data="assets/quote1.svg" class="floatleft cube">
    </object>
    
    <div class="quote-text floatleft margin-top-plus">
    <h1> READY TO DELIVER
      <br> AMAZING VISUALS
      <br><b> TO YOUR CUSTOMERS?</b></br>
      <br>
      <button class="margin-top"> contact us </button>
   </div>
   
    </section>
    <section id="work" class="clearfix center">
     <div id="work1" class="floatleft"></div>
      <div id="work2" class="floatleft"></div>
      
    </section>

<section id="form">


 <h1> what can we create for you?</h1> <div id="formcontainer" class="center"> <form action="/contacts" method="post"> <h2> name:<input type="name" class="form" placeholder="&nbsp;&nbsp;your name" name="name" value="<%=params["name"] %>" required></h2> <h2> email: <input type="email" class="form" placeholder="&nbsp;&nbsp;your email" name="email" value="<%=params["email"]%>" ></h2> <h2> phone: <input type="text" class="form" placeholder="&nbsp;&nbsp;402-555-5555" name="phone" value="<%=params["phone"]%>" required></h2> <h2> message: <input type="text_area" class="form message" placeholder="&nbsp;&nbsp;what can we make for you?" name="message" value="<%=params["message"]%>"required></h2> <input type="hidden" name="date" value="<%=Time.now%>"> <input type="submit" value="submit" class="submit"> </form> </div><object data="jeannie.svg" type="image/svg+xml" class="jeanner"> </object> <object data="bryan.svg" type="image/svg+xml" class="beanner"> </object> <object data="belt.svg" id="belt" type="image/svg+xml" class=""> </object> </div>
  
  <footer> <div class="part7"> <div class="copy"> <a href="http://kickpunchcreative.com">kick punch creative</a>&nbsp; | &nbsp;  a micro design agency &nbsp; | &nbsp; <a href="tel:4029150518">402.915.0518</a> &nbsp; | &nbsp; omaha, ne </div></div>
  
  
    loreum  
  
 </section>
    
    






  
        <script src="animate.js"></script>
   
      </body></html>