
<!DOCTYPE html>
<html>
<head>
  <html lang="en">
  <!-- METADATA -->
  <title>Kick Punch Creative | Micro Design Agency & Visual Content</title>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- <meta name="description" content="Kick Punch Creative is an Omaha Micro Design Agency specializing in micro-content and visuals for social media and web. Micro-content is an essential addition to your business’s marketing strategy." /> -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <!-- SOCIAL METADATA -->
  <!-- <meta property="og:locale" content="en_US"/>
    <meta property='fb:admins' content='1499820013'/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Project Title | By ********"/>
    <meta property="og:description" content="Project Description"/>
    <meta property="og:url" content="http://url.to.com/infographic/url"/>
    <meta property="og:image" content="http://url.to.com/infographic/url/img/share-title.png"/>
    <meta property='og:site_name' content="Project Title | By ********"/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@********">
    <meta name="twitter:title" content="Project Title | By ********">
    <meta name="twitter:description" content="Project Description">
    <meta name="twitter:image" content="http://url.to.com/infographic/url/img/share-title.png"> -->


    <!-- ICONS -->
    <link href="assets/favicon.ico" rel="shortcut icon">

    <!-- STYLESHEETS -->
  
    <link rel="stylesheet" type="text/css" href="css/style.css"> 
    <link rel="stylesheet" type="text/css" href="css/animate.css"> 
    <link rel="stylesheet" type="text/css" href="css/responsive.css"> 
  
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,600,200' rel='stylesheet' type='text/css'> 
  
    <section id="home">
      <div id="mobilenav" class="animated slideInLeft">
        <div id="mobile">
          <ul>
            <a class="scroll" data-speed="2000" href="#show-work"> 
              <li>
                work
              </li>
            </a>
            <a class="scroll" data-speed="2000" href="#show-services"> 
              <li>
                services
              </li>
            </a>
            <a class="scroll" data-speed="2000" href="#work"> 
              <li>
                clients
              </li>
            </a>

             
            <a class="scroll" data-speed="2000" href="#work"> 
              <li>
                blog
              </li>
            </a>
            <a class="scroll" data-speed="2000" href="#contact-us"> 
              <li>
                contact
              </li>
            </a>
            <a class="scroll" data-speed="2000" href="#work"> 
              <li>
                about
              </li>
            </a>
          </ul>
 
        </div>
        <a target="blank" href="http://www.twitter.com/kickpunchomaha"><img src="assets/twitter.svg" class="twit"></a>
        <br>
    
        <a target="blank" href="http://www.facebook.com/kickpunchcreative"> <img src="assets/facebook.svg" class="face"></a>
      </div>
  
  
      <header>
        <a href="/home">  <img id="logo" src="assets/logo.svg" class="logo bounceIn animated center"></a>
        <a href="/home"> <img id="logo-two" src="assets/logo-two.svg" class="logo bounceIn animated center"></a>
      
        <nav>
          <div class="center1">
            <ul>
              <a class="scroll" data-speed="2000" href="#show-work"> 
                <li>
                  work
                </li>
              </a>
              <a class="scroll" data-speed="2000" href="#show-services"> 
                <li>
                  services
                </li>
              </a>
              <a class="scroll" data-speed="2000" href="#work"> 
                <li>
                  clients
                </li>
              </a>
      
              <div class="break"> </div>         
              <a class="scroll" data-speed="2000" href="#work"> 
                <li>
                  blog
                </li>
              </a>
              <a class="scroll" data-speed="2000" href="#contact-us"> 
                <li>
                  contact
                </li>
              </a>
              <a class="scroll" data-speed="2000" href="#work"> 
                <li>
                  about
                </li>
              </a>
            </ul>
          </div>
       
          <div id="contactquote">GET A QUOTE</div>
          <a target="blank" href="http://www.twitter.com/kickpunchomaha"><img src="assets/twitter.svg" class="twitter"></a>
          <a target="blank" href="http://www.facebook.com/kickpunchcreative"> <img src="assets/facebook.svg" class="facebook"></a>
        </nav>
        <div id="hamburger">
   
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="66 -320 766 646" enable-background="new 66 -320 766 646" xml:space="preserve">
          <g id="bottom">
	
            <rect x="259" y="-101.052" fill="#FFFFFF" stroke="#3D383A" stroke-width="36" stroke-miterlimit="10" width="410" height="155.052"/>
          </g>
          <g id="top">
	
            <rect x="259" y="-101.052" fill="#FFFFFF" stroke="#3D383A" stroke-width="36" stroke-miterlimit="10" width="410" height="155.052"/>
          </g>
        </svg>
        
        
      </div>
    </header>
    
    <section id="part-one" class="animated fadeIn">
      <object id="skyline" type="image/svg+xml" data="assets/skyline1.svg" class="skyline center">
      </object>
      <object id="cloud1" type="image/svg+xml" data="assets/cloud.svg" class="animated floatLeft">
      </object>
      <object id="cloud2" type="image/svg+xml" data="assets/cloud2.svg" class="animated float">
      </object>
      
      <div id="toptext">
        <h1 class="small"> MICRO-CONTENT <h1><br>FOR A <b>BIG WORLD<b> </h1>
          <button class="center margin-top"> see our work </button>
        </div>
        
        <object id="jeanniebryan" type="image/svg+xml" data="assets/jeanniebryan.svg" class="jeanniebryan center">
        </object>
      </section>
      <div id="fixedcontainer" class="center">
        <section id="part-two">
    
          <p id="tell" class="large"> We Tell Your Brand’s Story Through Creative, Compelling Content & Visuals </p>
          <hr> <p id="tellcopy" class="line">Whether it be an animated infographic, an eye-catching social ad, or interactive web experience, visual content is an essential addition to your business’s marketing strategy. We specialize in simple, creative and informative content optimized for social media and web that's designed to reduce information overload. Let Kick Punch Creative help you tell your brand's story through visually awesome content.
          </p>
        </section>
      
        <section id="services" class="clearfix">
        
          <!-- service1 -->
          <div class="floatleft cube">
            <img src="assets/cube4.svg" class="center cubespace">
            <h1 class="heavy">social content</h1>
            <hr class="short">
            <p class="small">Social is where your
              customers are everyday, tell
              them your message in a
              compelling way. An ad, short
              visual or cover photo can
              have a huge impact on sales.</p>
              <p class="small blue"> starting at $199
              </div>
              
              <div class="floatleft cube">
                <img src="assets/cube2.svg" class="center cubespace">
                <h1 class="heavy">logo & branding</h1>
                <hr class="short">
                <p class="small">Wanting the right look for yournew business or does the old look need a facelift? We’ll design the perfect brand & identity for you.</p>
                <p class="small blue"> starting at $699
                </div>
            
                <div class="floatleft cube">
                  <img src="assets/cube3.svg" class="center cubespace">
                  <h1 class="heavy">infographics</h1>
                  <hr class="short">
                  <p class="small">Tell a compelling story with
                    visuals to help support the
                    overall message of your
                    business. Ask about our
                    animated infographics!</p>
                    <p class="small blue"> starting at $799
                    </div>
            
                    <div class="floatleft cube">
                      <img src="assets/cube1.svg" class="center cubespace">
                      <h1 class="heavy">micro-sites</h1>
                      <hr class="short">
                      <p class="small">Need a fun, informative website for an upcoming event? Like a festival, conference or music event? Let’s make it a success.</p>
                        <p class="small blue"> starting at $899
                        </div>  
           
  
                      </section>
                      <div id="show-services"></div>
                      <section id="quotation" class="clearfix center margin-top-plus">
    
                        <p class="top">
                          Kick Punch Creative is amazing! Their
                          creativity, and ability to express my interests
                          through their work is exceptional! I will be
                          forever grateful for my branding and website. I
                          am especially appreciative of the way in which
                          they listened to my preferences. I have gotten
                          so many compliments on my new look.
                          <br><b class="small">RAMANDA BRUCE ~ ASPIRATIONS COUNSELING</b></br></p>
                          <img src="assets/quote1.svg" class="quote1">
                          <img src="assets/quote2.svg" class="quote2">
  
                        </section>
        
        
                        <section id="work" class="clearfix center">
                          <div id="workcontainer" class="clearfix">
                            <h1> OUR RECENT WORK </h1>
                            <div id="work1" class="floatleft">
                              <div class="overlay">
                                <button class="center margin-top-again">view work</button>
                              </div>
                            </div>
                            <div id="work2" class="floatleft">
            
                              <div class="overlay">
                                <button class="center margin-top-again">view work</button>
                              </div>
                            </div>
                          </div>
                          <div class="button center">SEE MORE
                          </div>
      
                        </section>
                        <div id="show-work"></div>
        
        
                        <section id="tellus" class="clearfix">
  
                          <div id="form-text" >
         
                            <h1 class="tell"> <b>READY TO DELIVER AMAZING </b><br> VISUALS TO YOUR CUSTOMERS?
                            </h1>
              
         
                          </div>

                          <div id="formcontainer" class="center" > 
          
          
                            <form action="/contacts" method="post"> <input type="name" class="form" placeholder="&nbsp;&nbsp;your name" name="name" value="<%=params["name"] %>" required></h2> <input type="email" class="form" placeholder="&nbsp;&nbsp;your email" name="email" value="<%=params["email"]%>" ></h2>  <input type="text" class="form" placeholder="&nbsp;&nbsp;402-555-5555" name="phone" value="<%=params["phone"]%>" required></h2> 
            
                              <input type="checkbox"  name="services[]" value="microsite"> <h3>micro-site</h3></input>
                              <input type="checkbox"  name="services[]" value="socialcontent"><h3> social content</h3></input>
                              <input type="checkbox"  name="services[]" value="infographics"> <h3>infographics</h3></input>
                              <input type="checkbox"  name="services[]" value="logoandbranding"> <h3>logo & branding</h3></input>
            
            
                              <input type="textarea" class="form message" placeholder="&nbsp;&nbsp;what can we create for you?" name="message" value="<%=params["message"]%>"required></h2> <input type="hidden" name="date" value="<%=Time.now%>"> <input type="submit" value="submit" class="submit"> 
                            </form>
                          </div>
  
                        </section>
                        <div id="contact-us"></div>
                      </div>
  
                      <footer> 
            
                        <div id="mobilefooter" class="center">
                          <h1 class="white"> CONTACTS</h1>
                
    
                          <img src="assets/mail.svg" class="phone center">
                          <h2><a href="tel:4029150518" class="white">402.915.0518 <br></a>
    
                            <a class="white" href="mailto:jeannie@kickpunchcreative.com"> jeannie@kickpunchcreative.com  <br></a> 
                            omaha, nebraska </h2>
                          </div>
              
                        </div>
    
                        <div id="column-one" class="footer-column floatleft">
                          <h1 class="white"> CONTACTS</h1>
                          <br>
    
                          <img src="assets/mail.svg" class="phone">
                          <h2><a href="tel:4029150518" class="white">402.915.0518</a></h2>
    
                          <h2><a class="white" href="mailto:jeannie@kickpunchcreative.com"> jeannie@kickpunchcreative.com </a> </h2>
                          <h2>omaha, nebraska </h2>
                        </div>
     
                        <div id="column-two" class="footer-column floatleft">
       
                          <h1 class="white">
                            <a href="http://kickpunchcreative.com" class="white">KICK PUNCH CREATIVE
                            </a>
                          </h1>
  
                          <p class="white">
                            Kick Punch Creative is an Omaha Micro Design Agency specializing in micro-content and visuals for social media and web. Micro-content is an essential addition to your business’s marketing strategy.
                          </div>
     
                          <div id="column-three" class="footer-column floatleft">
                            <img src="assets/wdc.svg" class="wdc">
                          </footer>
        
           
  
                        </section>

                        <script src="animate.js"></script>
                        <script src="scroll.js"></script>
   
                      </body></html>