
<!DOCTYPE html>
<html>
<head>
  <html lang="en">
  <!-- METADATA -->
  <title>Kick Punch Creative | Micro Design Agency & Visual Content</title>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="Kick Punch Creative is an Omaha Micro Design Agency specializing in micro-content and visuals for social media and web. Micro-content is an essential addition to your business’s marketing strategy." />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <!-- SOCIAL METADATA -->
  <meta property="og:locale" content="en_US"/>
  <meta property='fb:admins' content='1499820013'/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Project Title | By ********"/>
  <meta property="og:description" content="Project Description"/>
  <meta property="og:url" content="http://url.to.com/infographic/url"/>
  <meta property="og:image" content="http://url.to.com/infographic/url/img/share-title.png"/>
  <meta property='og:site_name' content="Project Title | By ********"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@********">
  <meta name="twitter:title" content="Project Title | By ********">
  <meta name="twitter:description" content="Project Description">
  <meta name="twitter:image" content="http://url.to.com/infographic/url/img/share-title.png">


  <!-- ICONS -->
  <link href="assets/favicon.ico" rel="shortcut icon">

  <!-- STYLESHEETS -->
  
  <link rel="stylesheet" href="css/style.css?bedczxz565v"> <link rel="stylesheet" href="css/animate.css?bedc6a5szxzdfsdv"> <link href='http://fonts.googleapis.com/css?family=Dosis:400,600,200' rel='stylesheet' type='text/css'> 
  
  <section id="home">
  
    <header>
      <img id="logo" src="assets/logo.svg" class="logo bounceIn animated center">
      <img id="logo-two" src="assets/logo-two.svg" class="logo bounceIn animated center">
      
      <nav>
        <div class="center1">
          <ul>
            <a class="scroll" data-speed="2000" href="#work"> 
              <li>
                work
              </li>
            </a>
            <a class="scroll" data-speed="2000" href="#services"> 
              <li>
                services
              </li>
            </a>
            <a class="scroll" data-speed="2000" href="#work"> 
              <li>
                clients
              </li>
            </a>
      
            <div class="break"> </div>         
            <a class="scroll" data-speed="2000" href="#work"> 
              <li>
                blog
              </li>
            </a>
            <a class="scroll" data-speed="2000" href="#work"> 
              <li>
                contact
              </li>
            </a>
            <a class="scroll" data-speed="2000" href="#work"> 
              <li>
                about
              </li>
            </a>
          </ul>
        </div>
        <div id="contactquote">GET A QUOTE</div>
        <img src="assets/twitter.svg" class="twitter">
        <img src="assets/facebook.svg" class="facebook">
      </nav>
    </header>
    
    <section id="part-one" class="animated fadeIn">
      <object id="skyline" type="image/svg+xml" data="assets/skyline1.svg" class="skyline center">
      </object>
      <object id="cloud1" type="image/svg+xml" data="assets/cloud.svg" class="animated floatLeft">
      </object>
      <object id="cloud2" type="image/svg+xml" data="assets/cloud2.svg" class="animated float">
      </object>
      <section id="toptext">
        <h1> MICRO CONTENT <br>FOR A <b>BIG WORLD<b> </h1>
          <button class="center margin-top"> see our work </button>

        </section>
        <object id="jeanniebryan" type="image/svg+xml" data="assets/jeanniebryan.svg" class="jeanniebryan center">
        </object>
      </section>
    
      <section id="part-two">
    
        <p id="tell" class="large"> We tell your brand’s story through exciting visuals and micro content</p>
        <hr> <p id="tellcopy">What is micro content you ask? Whether it be an animated infographic, an eye-catching ad, or interactive web experience, micro content is an essential addition to your business’s marketing strategy. Simple, creative and informative content optimized for social media and designed to reduce information overload.
        </p>
      </section>

      <section id="services" class="clearfix">
        <object id="cube1" type="image/svg+xml" data="assets/cube1.svg" class="floatleft cube">
        </object>
        <object id="cube2" type="image/svg+xml" data="assets/cube1.svg" class="floatleft cube">
        </object>
        <object id="cube3" type="image/svg+xml" data="assets/cube1.svg" class="floatleft cube">
        </object>
        <object id="cube4" type="image/svg+xml" data="assets/cube1.svg" class="floatleft cube">
        </object>
  
      </section>
  
      <section id="contact" class="clearfix">
        <object id="quote1" type="image/svg+xml" data="assets/quote1.svg" class="floatleft cube2 animated slideInLeft">
        </object>
    
        <div id="quote-text" class="quote-text floatleft margin-top-plus animated slideInRight">
          <h1> READY TO DELIVER
            <br> AMAZING VISUALS
            <br><b> TO YOUR CUSTOMERS?</b></br>
            <br>
            <button class="margin-top"> contact us </button>
          </div>
   
        </section>
        
        
        <section id="work" class="clearfix center">
          <h1> OUR RECENT WORK </h1>
          <div id="work1" class="floatleft"></div>
          <div id="work2" class="floatleft"></div>
      
        </section>
        
        
<section id="here" class="clearfix">
  
        <div id="form-text" class="floatleft"><h1> WHAT CAN WE <br> <b>CREATE FOR YOU?</b></h1>
          <img src="assets/logo.svg" class="form-image center">
        </div>

        <div id="formcontainer" class="center floatright"> 
          <form action="/contacts" method="post"> <input type="name" class="form" placeholder="&nbsp;&nbsp;your name" name="name" value="<%=params["name"] %>" required></h2> <input type="email" class="form" placeholder="&nbsp;&nbsp;your email" name="email" value="<%=params["email"]%>" ></h2>  <input type="text" class="form" placeholder="&nbsp;&nbsp;402-555-5555" name="phone" value="<%=params["phone"]%>" required></h2>   <input type="text_area" class="form message" placeholder="&nbsp;&nbsp;what can we make for you?" name="message" value="<%=params["message"]%>"required></h2> <input type="hidden" name="date" value="<%=Time.now%>"> <input type="submit" value="submit" class="submit"> 
        </form>
  </div>
  
</section>
            

  
        <footer> 
    
          <div id="column-one" class="footer-column floatleft">
            <h1 class="white"> CONTACTS</h1>
            <br>
    
            <h2><a href="tel:4029150518" class="white">402.915.0518</a></h2>
    
            <h2>jeannie@kickpunchcreative.com </h2>
            <h2>omaha, ne </h2>
          </div>
     
          <div id="column-two" class="footer-column floatleft">
       
            <h1 class="white">
              <a href="http://kickpunchcreative.com" class="white">KICK PUNCH CREATIVE
              </a>
            </h1>
  
            <p class="white">
              Kick Punch Creative is an Omaha Micro Design Agency specializing in micro-content and visuals for social media and web. Micro-content is an essential addition to your business’s marketing strategy.
            </div>
     
            <div id="column-three" class="footer-column floatleft">
              <img src="assets/wdc.svg" class="wdc">
            </footer>
        
           
  
          </section>

          <script src="animate.js"></script>
          <script src="scroll.js"></script>
   
        </body></html>