
  
<!-- METADATA -->
<title>Kick Punch Creative | Micro Design & Visual Content </title>
<meta name="description" content="Kick Punch Creative is an Omaha Micro Design Agency specializing in content and visuals for social media and web. Micro-content is an essential addition to your business’s marketing strategy." />
 

<section id="part-one" class="animated fadeIn">
  <img  id="skyline" type="image/svg+xml" src="assets/skyline1.svg" class="skyline center" alt="omaha skyline">
      
  <object id="cloud1" type="image/svg+xml" data="assets/cloud.svg" class="animated floatLeft">
  </object>
  <object id="cloud2" type="image/svg+xml" data="assets/cloud2.svg" class="animated float">
  </object>
      
  <div id="toptext">
    <h1 class="small"> MICRO-CONTENT <h1><br>FOR A <b>BIG WORLD<b> </h1>
      <a href="/our-work">   <button class="center margin-top"> see our work </button>
      </div></a>
        
      <object id="jeanniebryan" type="image/svg+xml" data="assets/jeanniebryan.svg" class="jeanniebryan center">
      </object>
    </section>
    <div id="fixedcontainer" class="center">
      <section id="part-two">
    
        <p id="tell" class="large"> We Tell Your Brand’s Story Through Creative, Engaging Content & Visuals </p>
        <hr> <p id="tellcopy" class="line">Whether it be an animated infographic, an eye-catching social ad, or interactive web experience, visual content marketing is an essential addition to your business’s marketing strategy. We specialize in simple, creative and informative content optimized for social media and web that's designed to reduce information overload and gain more customers for you. Let Kick Punch Creative help you tell your brand's story through visually awesome content.
        </p>
      </section>
      
      <section id="services" class="clearfix">
        
        <!-- service1 -->
        <div id="cube1">
          <img src="assets/cube4.svg" class="center cube cubespace" alt="kick punch creative social content">
          <h1 class="heavy">social content</h1>
          <hr class="short">
          <p class="small">Social is where your
            customers are everyday, tell
            them your message in a
            compelling way. A
            visual quote or an interactive quiz can
            have a huge impact on sales.</p>
            <p class="small blue"> starting at $199
            </div>
              
            <div id="cube2">
              <img src="assets/cube2.svg" class="center cube cubespace" alt="kick punch creative logo & branding">
              <h1 class="heavy">logo & branding</h1>
              <hr class="short">
              <p class="small">Wanting the right look for your new business or does the old look need a facelift? We’ll design the perfect brand & identity for you.</p>
              <p class="small blue"> starting at $999
              </div>
            
              <div id="cube3">
                <img src="assets/cube3.svg" class="center cube cubespace" alt ="kick punch creative infographics">
                <h1 class="heavy">infographics</h1>
                <hr class="short">
                <p class="small">Tell a compelling story with
                  visuals to help support the
                  overall message of your
                  business. Ask about our
                  animated infographics!</p>
                  <p class="small blue"> starting at $899
                  </div>
            
                  <div id="cube4">
                    <img src="assets/cube1.svg" class="center cube cubespace" alt="kick punch creative micro-sites">
                    <h1 class="heavy">micro-sites</h1>
                    <hr class="short">
                    <p class="small">Need a fun, informative website for an upcoming event? Like a festival, conference or music event? Let’s make it a success. Built on Wordpress, hosted by Flywheel.</p>
                    <p class="small blue"> starting at $1599
                    </div>  
           
  
                  </section>
                  <div id="show-services"></div>
                  <section id="q1" class="quotation clearfix center margin-top-plus">
    
                        
                    Kick Punch Creative is amazing! Their
                    creativity, and ability to express my interests
                    through their work is exceptional! I will be
                    forever grateful for my branding and website. I
                    am especially appreciative of the way in which
                    they listened to my preferences. I have gotten
                    so many compliments on my new look.
                    <br>
                    <b class="small">RAMANDA BRUCE ~ ASPIRATIONS COUNSELING</b></br>
                    <img src="assets/quote1.svg" id="quote1">
                    <img src="assets/quote2.svg" id="quote2">
  
                  </section>
                  
                 
                  <!-- <section id="q2" class="quotation clearfix center margin-top-plus">


                    Where do I start? I pushed the creative limits involving these two folks and put them in a tough spot with a short time frame and they crushed it! My expectations were exceeded. The commissioned art I requested turned out better than I could have hoped for. I am for sure using them again for another creative endeavor! Thanks Jeannie and Bryan!!!
                    <br>
                   <b class="small">BRIAN PEDERSEN ~ CRYBABY BREWERY</b></br>


                    <img src="assets/quote1.svg" id="quote1">
                    <img src="assets/quote2.svg" id="quote2">

                  </section> -->
        
        
                  <section id="work" class="clearfix center">
                    <div id="workcontainer" class="clearfix center">
                      <h1> OUR RECENT WORK </h1>
                      <a target="_blank" href="http://hello.kickpunchcreative.com/do-space-volunteer-badges/">
                           <div id="work4" class="left" alt="do space volunteer icons omaha">
                             <div class="overlay animated">
                               Do Space Volunteer Icons
                               <!-- <button class="center margin-top-again">view work</button> -->
                             </div>
                           </div>
                         </a>
                         
                      <a target="_blank" href="http://www.omahacoffeetruck.com">
                        <div id="work7" class="left" alt="the omaha coffee truck web design">
                          <div class="overlay animated">
                            Web Design & Development
                            <!-- <button class="center margin-top-again">view work</button> -->
                          </div>
                        </div>
                      </a>
                      
                    
                    <div id="work9" class="left" alt="omaha skyline">
                      <div class="overlay animatedS">
                        Sillicon Prairie Gen Cyber Camp for AIM
                        <!-- <button class="center margin-top-again">view work</button> -->
                      </div>
                    </div>
                    
                  
                    
                 <a target="_blank" href="#">
                   <div id="work6" class="left" alt="mycity.dog web design omaha">
                     <div class="overlay animated">
                       The mycity.dog Website
                       <!-- button class="center margin-top-again">view work</button> -->
                     </div>
                   </div>
                 </a>
                 
                    
                  </div>
                    
                  <a href="/our-work"> <div class="button center">SEE MORE
                  </div>
                </a>
      
              </section>
              <div id="show-work"></div>
                        
              <section id="tellus" class="">
 
                <div id="form-text">
        
                  <h1 class="tell"> <b>READY TO DELIVER AMAZING </b><br> VISUALS TO YOUR CUSTOMERS?
                  </h1>
             
        
                </div>

                <div id="formcontainer" class="center"> 
         
         
                  <form action="/contacts" method="post"> <input type="name" class="form" placeholder="&nbsp;&nbsp;your name" name="name" value="<%=params["name"] %>" required></h2> <input type="email" class="form" placeholder="&nbsp;&nbsp;your email" name="email" value="<%=params["email"]%>" ></h2>  <input type="text" class="form" placeholder="&nbsp;&nbsp;402-555-5555" name="phone" value="<%=params["phone"]%>" required></h2> 
           
                    <input type="checkbox"  name="services[]" value="microsite"> <h3>micro-site</h3></input>
                    <input type="checkbox"  name="services[]" value="socialcontent"><h3> social content</h3></input>
                    <input type="checkbox"  name="services[]" value="infographics"> <h3>infographics</h3></input>
                    <input type="checkbox"  name="services[]" value="logoandbranding"> <h3>logo & branding</h3></input>
           
           
                    <input type="textarea" class="form message" placeholder="&nbsp;&nbsp;tell us about your project" name="message" value="<%=params["message"]%>"required></h2> <input type="hidden" name="date" value="<%=Time.now%>"> <input type="submit" value="submit" class="submit"> 
                  </form>
                </div>
 
              </section>
              <div id="contact-us"></div>
            </div>
                        
               
        
