  
<!-- METADATA -->
<title>Kick Punch Creative | Quote</title>
<meta name="description" content="Get a Quote for micro-content from Kick Punch Creative to increase your sales and marketing efforts." />

<section id="page-container-success">
        
  <div id="header-success">LET'S GET YOU A QUOTE!
    <p> Visual content is a valuable addition to your promotional strategy. Infographics, social content and micro-sites can help your sales soar and add a friendly, fun and informative aspect to your business. 
      Fill out the form below and we'll call you to talk about how Kick Punch Creative can add some spice to your visual content.</p>
    </div>
  
  
      
     
    <div id="quote-form" class="center">
      <form action="/contacts" method="post"> <input type="name" class="form" placeholder="&nbsp;&nbsp;your name" name="name" value="<%=params["name"] %>" required></h2> <input type="email" class="form" placeholder="&nbsp;&nbsp;your email" name="email" value="<%=params["email"]%>" ></h2>  <input type="text" class="form" placeholder="&nbsp;&nbsp;402-555-5555" name="phone" value="<%=params["phone"]%>" required></h2> 

        <input type="checkbox"  name="services[]" value="microsite"> <h3>micro-site</h3></input>
        <input type="checkbox"  name="services[]" value="socialcontent"><h3> social content</h3></input>
        <input type="checkbox"  name="services[]" value="infographics"> <h3>infographics</h3></input>
        <input type="checkbox"  name="services[]" value="logoandbranding"> <h3>logo & branding</h3></input>


        <input type="textarea" class="form message" placeholder="&nbsp;&nbsp;tell us about your project" name="message" value="<%=params["message"]%>"required></h2> <input type="hidden" name="date" value="<%=Time.now%>"> <input type="submit" value="submit" class="submit"> 
      </form>
    </div>
      
  </section>