
<!DOCTYPE html>
<html>
<head>
  <html lang="en">
  <!-- METADATA -->
  <title>Kick Punch Creative | Our Work</title>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="Kick Punch Creative is an Omaha Micro Design Agency specializing in content and visuals for social media and web. Here is a sample of our work." />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <!-- SOCIAL METADATA -->
  <meta property="og:locale" content="en_US"/>
  <meta property='fb:admins' content='1499820013'/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Kick Punch Creative | Our Work"/>
  <meta property="og:description" content="Kick Punch Creative is an Omaha Micro Design Agency specializing in content and visuals for social media and web."/>
  <meta property="og:url" content="http://url.to.com/infographic/url"/>
  <meta property="og:image" content="http://url.to.com/infographic/url/img/share-title.png"/>
  <meta property='og:site_name' content="Project Title | By ********"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@********">
  <meta name="twitter:title" content="Kick Punch Creative | Micro Design Agency & Visual Content">
  <meta name="twitter:description" content="Kick Punch Creative is an Omaha Micro Design Agency specializing in content and visuals for social media and web.">
  <meta name="twitter:image" content="http://kickpunchcreative.com/shareablekpc.png">


  <!-- ICONS -->
  <link href="assets/favicon.ico" rel="shortcut icon">

  <!-- STYLESHEETS -->
  
  <link rel="stylesheet" type="text/css" href="css/style.css"> 
  <link rel="stylesheet" type="text/css" href="css/animate.css"> 
  <link rel="stylesheet" type="text/css" href="css/responsive.css"> 
  <link rel="stylesheet" type="text/css" href="css/work.css"> 
  
  <link href='http://fonts.googleapis.com/css?family=Dosis:400,600,200' rel='stylesheet' type='text/css'> 
  
  <section id="home">
    <div id="mobilenav" class="animated slideInLeft">
      <div id="mobile">
        <ul>
          <a href="/our-work"> 
            <li>
              work
            </li>
          </a>
          <a href="home/#services">
            <li>
              services
            </li>
          </a>
          <a class="scroll" data-speed="2000" href="#work"> 
            <li>
              content
            </li>
          </a>

             
          <a class="scroll" data-speed="2000" href="#work"> 
            <li>
              blog
            </li>
          </a>
          <a href="home/#contact-us"> 
            <li>
              contact
            </li>
          </a>
          <a class="scroll" data-speed="2000" href="#work"> 
            <li>
              team
            </li>
          </a>
        </ul>
 
      </div>
      <a target="blank" href="http://www.twitter.com/kickpunchomaha"><img src="assets/twitter.svg" class="twit"></a>
      <br>
    
      <a target="blank" href="http://www.facebook.com/kickpunchcreative"> <img src="assets/facebook.svg" class="face"></a>
    </div>
  
  
    <header>
      <a href="/home">  <img id="logo" src="assets/logo.svg" class="logo bounceIn animated center"></a>
      <a href="/home"> <img id="logo-two" src="assets/logo-two.svg" class="logo bounceIn animated center"></a>
      
      <nav>
        <div class="center1">
          <ul>
            <a href="/our-work"> 
              <li>
                work
              </li>
            </a>
            <a href="home/#services"> 
              <li>
                services
              </li>
            </a>
            <a class="scroll" data-speed="2000" href="#work"> 
              <li>
                content
              </li>
            </a>
      
            <div class="break"> </div>         
            <a class="scroll" data-speed="2000" href="#work"> 
              <li>
                blog
              </li>
            </a>
            <a href="home/#tellus"> 
              <li>
                contact
              </li>
            </a>
            <a class="scroll" data-speed="2000" href="#work"> 
              <li>
                team
              </li>
            </a>
          </ul>
        </div>
       
        <div id="contactquote">GET A QUOTE</div>
        <a target="blank" href="http://www.twitter.com/kickpunchomaha"><img src="assets/twitter.svg" class="twitter"></a>
        <a target="blank" href="http://www.facebook.com/kickpunchcreative"> <img src="assets/facebook.svg" class="facebook"></a>
      </nav>
      <div id="hamburger">
   
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="66 -320 766 646" enable-background="new 66 -320 766 646" xml:space="preserve">
        <g id="bottom">
	
          <rect x="259" y="-101.052" fill="#FFFFFF" stroke="#3D383A" stroke-width="36" stroke-miterlimit="10" width="410" height="155.052"/>
        </g>
        <g id="top">
	
          <rect x="259" y="-101.052" fill="#FFFFFF" stroke="#3D383A" stroke-width="36" stroke-miterlimit="10" width="410" height="155.052"/>
        </g>
      </svg>
        
        
    </div>
  </header>
  <div id="fixedcontainer" class="center">
      
   
      
      <section id="tellus" class="clearfix">
        <br>
         <br>
         <br>
         <br>
        <div id="form-text">
        <h1> CONTACT US FOR A QUOTE</h1>
          <h1 class="tell"> 
             
        
          </div>

          <div id="formcontainer" class="center" > 
         
         
            <form action="/contacts" method="post"> <input type="name" class="form" placeholder="&nbsp;&nbsp;your name" name="name" value="<%=params["name"] %>" required></h2> <input type="email" class="form" placeholder="&nbsp;&nbsp;your email" name="email" value="<%=params["email"]%>" ></h2>  <input type="text" class="form" placeholder="&nbsp;&nbsp;402-555-5555" name="phone" value="<%=params["phone"]%>" required></h2> 
           
              <input type="checkbox"  name="services[]" value="microsite"> <h3>micro-site</h3></input>
              <input type="checkbox"  name="services[]" value="socialcontent"><h3> social content</h3></input>
              <input type="checkbox"  name="services[]" value="infographics"> <h3>infographics</h3></input>
              <input type="checkbox"  name="services[]" value="logoandbranding"> <h3>logo & branding</h3></input>
           
           
              <input type="textarea" class="form message" placeholder="&nbsp;&nbsp;what can we create for you?" name="message" value="<%=params["message"]%>"required></h2> <input type="hidden" name="date" value="<%=Time.now%>"> <input type="submit" value="submit" class="submit"> 
            </form>
          </div>
 
        </section>
        <div id="contact-us"></div>
      </div>
 
          
      <section id="otherfooter">
        <img src="assets/mail.svg" width="100px" class="center">
            
        <h4>CONTACTS</h4>
    

             
        <h5><a href="tel:4029150518" class="white">402.915.0518 | </a>

          <a class="white" href="mailto:jeannie@kickpunchcreative.com"> jeannie@kickpunchcreative.com  </a>  | omaha, nebraska </h5>
          
        </section>
          
        <a class="scroll" data-speed="2000" href="#home">   <div id="square"> ^</div></a>
        
 
      </section>

      <script src="animate.js"></script>
      <script src="scroll.js"></script>
  
    </body></html>