<%@contacts = Contact.all %>

<div class="list_contacts">
  <h2> Contact Submissions:</h2>
<%@contacts.each do |c| %>
<br><%= c.name %> - <a href="mailto:<%= c.email %>?Subject=Hello%20from%20KPC%20" target="_top"><%= c.email %> </a>- <%= c.message %> - <%= c.phone %> - <%= c.date %></br> <a href ="contact/<%= c.id %>" data-confirm="Are you sure?"> delete </a>

<%end %>
</div>

